@{
    Layout = null; // 不使用佈局
}

<!-- login.cshtml -->
@{
    ViewData["Title"] = "登入";
}

<!DOCTYPE html>
<html lang="zh-TW">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <title>@ViewData["Title"]</title>
    <style>
        body {
            background-color: #f8f9fa; /* 背景顏色 */
        }

        .login-container {
            max-width: 400px; /* 最大寬度 */
            margin: auto; /* 中心對齊 */
            padding: 20px; /* 內邊距 */
            background-color: white; /* 背景顏色 */
            border: 1px solid #dee2e6; /* 邊框 */
            border-radius: 5px; /* 圓角 */
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* 陰影 */
        }

        .custom-btn {
            background-color: #131728; /* 自定義背景顏色 */
            color: white; /* 文字顏色 */
            border: none; /* 無邊框 */
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* 陰影 */
        }

        .custom-btn:hover {
            background-color: #ffffff; /* 滑鼠懸停時的顏色 */
            color: #131728; /* 文字顏色 */
        }

        .forgot-password {
            color: #81b1c5;
            text-decoration: none;
            transition: color 0.2s;
        }

        .forgot-password:hover {
            color: #16360a; /* 滑鼠懸停時的顏色 */
            cursor: pointer; /* 指標改為手形 */
            text-decoration: none; /* 下劃線 */
        }
    </style>
</head>
<body>
    <div class="login-container mt-5">
        <h2 class="text-center">@ViewData["Title"]</h2>
        <form method="post" asp-controller="Account" asp-action="Login" class="mt-4">
            <div class="form-group">
                <label for="username">帳號:</label>
                <input type="text" id="username" name="username" class="form-control" required>
            </div>
            <div class="form-group">
                <label for="password">密碼:</label>
                <input type="password" id="password" name="password" class="form-control" required>
            </div>
            <div class="d-flex justify-content-between form-check">
                <div>
                    <input type="checkbox" id="rememberMe" name="rememberMe" class="form-check-input">
                    <label for="rememberMe" class="form-check-label">記住密碼</label>
                </div>
                <div>
                    <a href="/Account/ForgotPassword" class="forgot-password">忘記密碼？</a> <!-- 自定義樣式的忘記密碼鏈接 -->
                </div>
            </div>
            <button type="submit" class="btn custom-btn btn-block mt-3">登入</button> <!-- 使用自定義按鈕 -->
        </form>
    </div>
</body>
</html>
